input[type=text],select{
    border: 2px solid rgb(255, 0, 0);
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    padding: 13px 22px;
    box-sizing: border-box;
    margin: 10px 0;
}
input[type=submit] {
    width: 100%;
    background-color: rgb(212, 183, 142);
    color: red;
    padding: 20px 25px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: antiquewhite;
    color: black;
}
div{
    background-color: blanchedalmond;
    border-radius: 4px;
    padding: 20px;
    border: 2px solid red;
}